html, body {
	height:  100%;
	min-height: 100%;
}

body {
	background: url(./images/background.jpeg) center no-repeat;
	background-size:  cover;
	background-attachment: fixed;
	font-size: 100%;
}

.wrapper {
	margin: 0 auto;
	width:  75%;
}

#content {
	background: rgba(189, 195, 199, .80);
	padding-left: 30px;
	padding-right: 30px;
}

.bgnpics {
	text-align: center;
}

.imgcontainer {
	display: inline-table;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
}

.bgnpics img {
	height: 300px;
}

h1 {
	font-size: 4em;
	margin-bottom: 0;
	text-align: center;
	font-family: sans-serif;
}

p {
	font-size: 1.25em;
}